[Unit]
Description=ttrss backend %i
After=network.target mysql.service postgresql.service

[Service]
User=%i
WorkingDirectory=/var/www/vhosts/%i/data
ExecStart=./update_daemon.sh

[Install]
WantedBy=multi-user.target
