[Unit]
Description=ttrss backend %i
After=network.target mysql.service postgresql.service

[Service]
User=%i
ExecStart=/var/www/vhosts/%i/data/update_daemon.sh

[Install]
WantedBy=multi-user.target
