module ibox-httpd 1.0;

require {
        type httpd_log_t;
        type httpd_t;
        type httpd_sys_script_t;
        class dir { write add_name };
        class file { write create };
}

#============= httpd_sys_script_t ==============

allow httpd_sys_script_t httpd_log_t:dir { write add_name };
allow httpd_sys_script_t httpd_log_t:file create;

#============= httpd_t ==============

allow httpd_t httpd_log_t:file write;

